@inject IWeatherService WeatherService

    
<h3>Add Forecast</h3>
    <label>Date</label><br/>
    <label>TemperatureC</label><br/>
    <label>Summary</label>

 <!-- Use events to manage reload -->
@code {
    // https://blazor-university.com/components/component-events/   
}